# .gitignore

# -----------------
# 1. Arquivos de Segurança (CRÍTICO)
# -----------------
# Chave de onde está a APIs e outras variáveis sensíveis
.env

# -----------------
# 2. Ambientes Virtuais (CRÍTICO)
# -----------------
# Ambiente virtual (venv, env, etc.)
venv/
env/

# -----------------
# 3. Arquivos de Python
# -----------------
# Arquivos de bytecode compilado
*.pyc

# Diretórios de cache e Python
__pycache__/

# -----------------
# 4. Arquivos do Django e Bancos de Dados
# -----------------
# Banco de dados padrão SQLite
db.sqlite3